<div class="fluid-container" style="margin-top: 70px">
  <div class="row">
    <div class="col-sm-2" style="position: fixed; top: 70px; left: 0;">
      <% if user_signed_in? %>
      <h5>입장 중인 방</h5>
      <ul>
        <% current_user.chatrooms.each do |chatroom| %>
        <li><%= link_to chatroom.name, chatroom %></li>
        <% end %>
      </ul>
      <% end %>
    </div>

    <div class="col-sm-10 col-sm-offset-2">



		<p>
		  <strong>Name:</strong>
		  <%= @chatroom.name %>
		</p>

		<div data-behavior='messages'>
      <% @messages.each do |message| %>
        <div>
          <strong><%= message.user.username %>:</strong>
          <%= message.body %>
        </div>
      <% end %>
		</div>

		<%= form_for [@chatroom, Message.new] do |f| %>
			<%= f.text_area :body, rows: 1, class: "form-control", autofocus: true %>
			<!-- autofocus 창에 입장시 textarea에 자동 포커스 -->
		<% end %>

    </div>
  </div>
</div>
